{% extends 'base.html.twig' %}

{% block title %}Edit Media{% endblock %}

{% block body %}
    <h1>Modifier un média</h1>

    {{ include('media/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('media_index') }}">retourner sur la liste</a>

    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
