{% extends 'base.html.twig' %}

{% block title %}command{% endblock %}

{% block body %}

<div class="alert alert-dismissible alert-success" style="margin-top: 20px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Bien joué!</strong> Votre commande s'est effectuée avec succès <a href="{{ path('desk_shop') }}" class="alert-link">Voir les autres produits..</a>.
</div>
{% endblock %}
