{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur Deskshtop !</h1>
  <p class="lead">Ici vous trouverez de nombreuses affaires de bureau, de l'article le plus simple au plus excentrique.</p>
  <hr class="my-4">
  <p>En esperant que vous trouverais votre bonheur.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ path('desk_shop') }}" role="button">Voir les produits</a>
  </p>
</div>
{% endblock %}